::placeholder {
    font-size: 16px; /* Установите желаемый размер шрифта */
    padding-left: 10px;
    /* Другие стили, если необходимо */
  }

  input:focus {
    outline: none; /* Убираем фокус при активации элемента */
    /* Другие стили, если необходимо */
  }